.banner {
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    

    .banner-info {
        font-size: 25px;
        width:40%
    }

    .picture {
        width: 100%;
    }  
    
    .button {
        margin-top: 20px;
        width: 300px;
        border-radius: 10px;
    }
    
    .info-name{
        color: #9d4edd;
        font-size: 30px;
    }
}

@media only screen and (max-width: 720px) {
    .banner-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture {
        height: 300px;
    }

    .banner-info {
        font-size: 20px;
    }

    .info-name{
        font-size: 25px;
    }
}