.banner {
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    padding-bottom: 7rem;

    .banner-info {
        font-size: 25px;
        width:40%
    }

    .picture {
        width: 100%;
    }  
    
    #butto__banner {
        margin-top: 1.25rem;
        width: 18.75rem;
        border-radius: 0.625rem;
        justify-content: center;
        background-color: #212529;
        color: #efefef;
        transition: ease-in-out .8s;

        &:hover {
            background-color: #9d4edd;
        }

    }
    
    .info-name{
        color: #9d4edd;
        font-size: 30px;
    }
}

@media only screen and (max-width: 720px) {
    .banner-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture {
        height: 300px;
    }

    .banner-info {
        font-size: 20px;
    }

    .info-name{
        font-size: 25px;
    }
}