#sectionCategoria {
    height: 76.9vh;
    
    h2 {
        color: #5c08a0;
        font-size: 3rem;
    }
}

#colButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
        width: 12rem;
        margin: 1rem;
        border-radius: 1rem;
        transition: ease-in-out .8s;
        background-color: #212529!important;

        &:hover {
            font-weight: 700;
            background-color: #9d4edd!important;
        }
    }
}