.containerCart {
   width: 5px;
   margin-right: 25px;
   align-self: center;
}

h1 {
   font-size: 1.5rem;
   transition: ease-in-out .8s;   
}

h1:hover {
   color: #9d4edd;   
}

.navs {
   transition: ease-in-out .8s;
}

.navs:hover {
   font-weight: 700;
}
