.containerCart {
   width: 5px;
   margin-right: 25px;
   align-self: center;
}

h1 {
   font-size: 1.5rem;
   color: #b9b2b2; 
   transition: ease-in-out .8s;

   &:hover {
      color: #9d4edd;   
   }
}

#basic-nav-dropdown {
   color: #b9b2b2; 
   transition: ease-in-out .8s;

   &:hover {
      color: #9d4edd; 
   }
}

.navs {
   transition: ease-in-out .8s;
   color: #b9b2b2!important;

   &:hover {
      font-weight: 700;
      color: #9d4edd!important; 
   }
}