.git{
   width: 40px;
   height: 40px;
   margin: 10px;
}
.git:hover{
   width: 40px;
   height: 40px;
   margin: 10px;
   background-color: rgba(34, 32, 32, 0.657);
   border-radius: 50%;
}
.linkedin{
   width: 40px;
   height: 40px;
   margin: 10px;
}
.linkedin:hover{
   width: 40px;
   height: 40px;
   margin: 10px;
   background-color: rgba(34, 32, 32, 0.657);
   border-radius: 50%;
}
